<!DOCTYPE html>
<html lang="ja" class="sign-html">
  <head>
    <meta charset="UTF-8">
    <title>Counting Stars Sign-In</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="sign_form">
      <div class="card">
        <div class="title">
          <h3>EIGO JOKE!</h3>
        </div>
        <div>
          <h3 class="title-sign-in">Sign In</h3>
        </div>
        <form action="/signin" method="post">
          <div>
            <input type="text" name="name" placeholder="username" class="username"></input>
          </div>
          <div>
            <input type="password" name="password" placeholder="password" class="password"></input>
          </div>
          <input type="submit" value="SIGN IN" class="button"></input>
          <div>
            <p class="footer"><a href="/signup">新規登録はこちら</a></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>