<!DOCTYPE html>
<html lang="ja" class="sign-html">
  <head>
    <meta charset="UTF-8">
    <title>サインイン</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="auth-container">
        <h3>JOKE EIGO!</h3>
        <div class="card">
          <h3 style="text-align: center; margin-bottom: 20px; color: #2d3748;">サインイン</h3>
        <form action="/signin" method="post">
            <input type="text" name="name" placeholder="username" class="username" placeholder="ユーザーネーム">
            <input type="password" name="password" placeholder="password" class="password" placeholder="パスワード">
            <input type="submit" value="SIGN IN" class="btn">
        </form>
        </div>
          <p class="auth-footer"><a href="/signup">アカウントをお持ちでない方はこちら</a></p>
    </div>
  </body>
</html>